:root{
    --black:black;
    --text:rgba(26, 25, 25, 0.849);
    --white:white;
    --gray:gray;
    --light-gray:#e5e7eb;
    --color-gray:#9ca3af;
    --color-gray1:#6b728;
    --red:red;
    --navy-blue:#1f2937;
}